<% if current_user.active? %>
  <%= form_for @history, html: {multipart: true} do |f| %>
    <div class="cart">
      <div class="cart-body">

        <div class="form-group">
          <%= f.label :title %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>

        <div class="form-group">
          <%= f.label :body %>
          <%= f.trix_editor :body, class: 'editor' %>
        </div>

        <div class="form-group">
          <%= f.file_field :image %>
        </div>


        <div class="form-group">
          <%= f.submit 'Сохранить', class: 'btn btn-primary' %>
          <%= link_to 'Назад', :back, class: 'btn btn-outline-secondary' %>
        </div>

      </div>
    </div>
  <% end %>
<% end %>