
<% @posts.each do |p| %>
  <div class="container">
    <div class="card ">
      <div class="card-header link">
        <p>User: <%= p.user_id%></p>
        <p>id: <%= p.id %></p>
        <h4><%= link_to p.title, post_path(p) %></h4>
        <small>
          <%= link_to 'Изменить', edit_post_path(p) %>
          <%= link_to 'Удалить', post_path(p), method: :delete %>
        </small>
      </div>
      <div class="card-body text_post clearfix">
        <%= image_tag p.image.url(:large), class: 'img-show mr-3' if p.image? %>
        <p><%= p.body %></p>
      </div>
       <%= link_to '<i class="fa fa-commenting" aria-hidden="true"></i>'.html_safe, post_path(p),  class: 'button_comment_active ml-3' %><%= p.comments.count %>
    </div>
  </div>
  <br>
<%end %>




